@CHARSET "UTF-8";
body {
background:url(images/bg.gif) repeat;
margin:0px;
padding:0px;
font-size:12px;
font-family:Arial, Helvetica, sans-serif;
color:#000;
}

#main {
	margin: auto;
	width: 977px;
	background:url(images/center_bg_repeat.gif) repeat-y center;
}
#left {
	float: left;
	height: 600px;
	width: 920px;
	padding: 10px;
}
#right {
	float: right;
	height: 350px;
	width: 200px;
}
#decribe {
	height: 800px;
	margin-top: 0px;
	margin-right: 50px;
	margin-bottom: 10px;
	margin-left: 200px;
}

#info {
	height: 100px;
	width: 400px;
	margin-bottom: 0px;
}