<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/store</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
		<!-- <property name="connection.url">jdbc:mysql://10.0.16.16:4066/392197443-462970_mys_3wxyq003</property>
		<property name="connection.username">3wp3338K</property>
		<property name="connection.password">ys519LjFG2c3</property> -->
		<property name="hbm2ddl.auto">update</property>
		<!-- JDBC connection pool (use the built-in) -->
		<!-- <property name="connection.pool_size">1</property> -->
		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>
		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>
		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>
		<!-- Drop and re-create the database schema on startup -->
		<!-- <property name="hbm2ddl.auto">update</property> -->
		<property name="connection.useUnicode">true</property> 
        <property name="connection.characterEncoding">utf-8</property> 
		<mapping resource="com/levilee/store/entity/Account.hbm.xml" />
		<mapping resource="com/levilee/store/entity/Cart.hbm.xml" />
		<mapping resource="com/levilee/store/entity/Categories.hbm.xml" />
		<mapping resource="com/levilee/store/entity/Collection.hbm.xml" />
		<mapping resource="com/levilee/store/entity/Orders.hbm.xml" />
		<mapping resource="com/levilee/store/entity/Products.hbm.xml" />
		<mapping resource="com/levilee/store/entity/Userinfo.hbm.xml" />
		<mapping resource="com/levilee/store/entity/Keynumber.hbm.xml" />
		
	</session-factory>
</hibernate-configuration>  